<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign in to Audible</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
</head>

<body>
    <p>Current URL: <span id="currentUrl"></span></p>

    <!-- <div hx-get="/audible-signin/success">
        Loading...
    </div> -->

    <div>
        {{ oauth_url }}
    </div>

    <div id="response-div">
        <button hx-get="{{ oauth_url }}" hx-trigger="click" hx-swap="outerHTML">
            Click Me!
        </button>
    </div>

    <!-- <script>
        document.addEventListener(" htmx:afterSwap", (event) => {
            const currentUrlDisplay = document.getElementById('currentUrl');
            if (event.detail.elt.id === 'content') {
                currentUrlDisplay.textContent = event.detail.xhr.responseURL;
            }
        });
    </script> -->
</body>

</html>